<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/commonhead") %>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <%- include ("partials/header") %>
    <!-- Campaings Page -->
    <div class="campaings-page">
      <div class="campaings">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <a class="campaings-link" href="#"
                >Campaings (<%= campaigns.length %>)</a
              >
            </div>
            <div class="col-md-6 text-left text-md-right mt-4 mt-md-0">
              <a id="create-new-campaing" class="add-btn" href="/campaigns/new"
                ><i class="fas fa-plus mr-1"></i> Create New</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="container"><%- include ("partials/messages") %></div>

      <!-- Campaings Card -->
      <div class="container">
        <div class="row">
          <% for (let i = 0; i < campaigns.length; i++) { %>
          <div class="col-md-3">
            <div class="campaings-card">
              <a
                class="campaign-status delete"
                href="/campaigns/delete/<%= campaigns[i]._id %>"
              >
                <i class="fa fa-trash"></i>
              </a>
              <span class="campaign-status">
                <% if (campaigns[i].completed) { %>
                <i class="fa fa-check"></i>
                <% } %>
              </span>
              <div class="campaings-card-header">
                <i class="fas fa-inbox"></i>
              </div>
              <div class="campaings-card-footer">
                <div class="main-text"><%= campaigns[i].name %></div>
                <div class="sub-text campaign-date">
                  <%= campaigns[i].createdAt %>
                </div>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>

    <%- include ("partials/commonscripts") %>
    <script>
      document.querySelectorAll('.campaign-date').forEach((elm) => {
        elm.textContent = moment(elm.textContent).format('MMM DD, YYYY');
      });
    </script>
  </body>
</html>
